<form  action="<%= session_url  %>" method="post">
  <label>Email
  <input type="text" name="user[email]" value=""></label>
  <label>password
    <input type="password" name="user[password]" value="">
  </label>
  <input type="submit"  value="Login">

</form>
