body {
    text-align: center;
    /* background-image: url("images.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 12

}
form {
    display: inline-block;
}
input[type="button"]
{
  border-radius: 3px;
  border-bottom: 3px;
}
#sigin_button {
  display: inline-block;
}
