
<h2> Bands </h2>

<% @bands.each do |band| %>
Band Name:<%= band.name %>
<br>
Albums:
<% band.albums.each do |album| %>
   <a href="<%= album_url(album) %>"><p><%= album.title %></a>
<br>
<% end %>
<% end %>
